<h2><%= @restaurant.name %></h2>

<h3>Manu</h3>
<%= link_to 'New Menu', new_restaurant_menu_path(@restaurant), class: 'btn' %>
<% @restaurant.menus.each do |menu| %>
  Dish: <strong><%= menu.dish_name %></strong>
  <br>
  Description: <%= menu.description %>
  <hr>

<% end %>

<h3>Tables</h3>
<% @restaurant.tables.each do |table|%>
  <%= link_to "Table NO. #{table.number}", restaurant_table_path(@restaurant, table) %>
<% end %>
<!-- Table list (temporary), will replaced by QR code access -->

